.main-nav {
  float: right;
}
.main-nav ul {
  display: inline-block;
}

.main-nav:hover ul{
  display: block;
}

.template {
    display: none;
}

.byline {
  font-size: 1.5em;
  font-weight: bold;
}

@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }

  .main-nav:hover {
    display: inline-block;
  }
}
